#contact .header {
    text-align: center;

}


#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* padding: 30px 0px; */
}

#contact .container .address .head {
    text-align: center;
    /* padding: 20px 10px; */
}

#contact .container .address .head h3 {
    color: #000;
}

#contact .header {
    padding: 20px 10px;
}

#contact .header h1 {
    font-weight: 600;
    color: #000;
}

#contact .container .address .addresses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact .container .address .addresses ul {
    list-style: none;
}

#contact .container .address .addresses ul h1 {
    font-weight: 600;
    color: #EA1936;
}

#contact .container .address .addresses ul li {
    font-weight: 400;
    color: #000;

}

#contact .container .form {
    width: 100%;
}

#contact .container .form label {
    color: #000;
    font-weight: 300;
    /* display: none; */
}

#contact .container form button {
    background-color: #EA1936;
    color: white;
}

#contact .container .address .addresses ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    #contact .container {
        display: flex;
        flex-direction: column-reverse;
    }

}